services:
  backend:
    build: ./backend
    container_name: logs-backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./frontend
      args:
        VITE_SSE_URL: http://localhost:4000/logs
    container_name: logs-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
